.system-btn {
    width: 80px;
    height: 30px;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
}

.post-btn {
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
}